body{
    font-family: 'Lucida Sans';
    background-color:rgb(248, 248, 237);
    border-bottom: 50px solid gold;
    margin:0;
}
.outerContainer{
   display:grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   margin-left: 15%;
   margin-right: 15%;
   
  /* font-family:'Lucida Sans';*/
}
.itemContainer{
     display: grid;
     grid-template-columns: max-content 1fr;
     align-items: start;
}
.itemContainer div{
   margin:10px;
}

.imageContainer img{
    max-width: 200px;
}
.priceContainer{
    text-align: right;
}

.alignContainerRight{
    text-align: right;
    padding-right: 20px;
}
.headerText{
    font-family:'Lucida Sans';
    font-size:larger;
    text-align: center;

}
.priceText{
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
}

.mediumText{
    font-size: medium;
}
.centerText{
    text-align: center;
}
.smallText{
    font-size: 14px;
}

.maroonText{
    color:maroon;
}
.orderContainer{
    margin:10px;
    text-align: center;
}
.priceContainer{
    width:90%;
}
#order{
    padding:10px;
    background-color: goldenrod;
    border:1px solid goldenrod;
    border-radius: 5px;
}
#order:hover{
    cursor: pointer;
}
#totalPrice{
    margin:10px;
}
#add, #minus, #total{
    font-size:medium;
    padding:10px;
    margin:5px;
}
#add{
    color: green;
}
#minus{
    color: red;
}

#add, #minus{
    border: 1px solid grey;
    border-radius:10px;
     font-weight: 800;
    
}
#add:hover, #minus:hover{
    cursor: pointer;
}
#add:active{
background-color: green;
color:white;
}
#minus:active{
    background-color: red;
    color:white;
}
#total, #totalPrice{
    border-bottom: 1px solid grey;
}